{% extends 'layout.html' %}

{% block body %}

<section class="ML">
    <h1>Machine Learning</h1>
    <p>
        Es un subcampo de la inteligencia artificial, involucra brindar a las computadoras la habilidad de realizar una tarea especifica sin necesidad de que este programada explicitamente. Utilizamos una gran cantidad de datos para su implementación.
    </p>
    <ul>
        <li>
            <strong>Aprendizaje supervisado.</strong> Los datos necesitan tener etiquetas
        </li>
        <li>
            <strong>Aprendizaje no supervisado.</strong> Los datos no tienen etiquetas
        </li>
        <li>
            <strong> Aprendizaje por refuerzo. </strong> Las decisiones se toman en fin de maximizar la recompensa
        </li>
    </ul>
</section>

{% endblock %}